@media only screen and (min-width:0px) and (max-width:480px)
{
    .form-container
{
    min-height: 80vh;
}
.form-container form
{
    width: 100%;
}
.form-container form h3
{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.form-container form input, .form-container form select
{
    padding: 10px 15px;
    font-size: 16px;
}
.form-container form .form-btn
{
    font-size: 16px;

}
.form-container form p
{
    font-size: 17px;
}
/* -- 06 end -- */
}

@media only screen and (min-width:481px) and (max-width:768px)
{
    .form-container
{
    min-height: 80vh;
}
.form-container form
{
    width: 80%;
}
.form-container form h3
{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.form-container form input, .form-container form select
{
    padding: 10px 15px;
    font-size: 16px;
}
.form-container form .form-btn
{
    font-size: 16px;

}
.form-container form p
{
    font-size: 17px;
}
/* -- 06 end -- */
}